h1, p, .tooltip {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

p {font-size: .6em;}
h1 {font-size: 2em;}


.line {
    fill: none;
    stroke: black;
    stroke-width: 0.5;
}

.tooltip text {
    font-size: 12px;        
}